{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <form class="formLogin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Tu es déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <div class="title">
            <h3 class="mb-3 font-weight-normal">Connexion</h3>
        </div>
        <div >
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="register">
            <a  href="{{ path('app_register') }}">Vous n'avez pas encore de compte chez nous ? Inscrivez-vous !</a>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
        </div>
    </form>
{% endblock %}

