{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <body class="home_body">
    <div class="home_video">
        <video class="video" autoplay muted loop>
            <source src="{{ asset('video/home_video.mp4') }}" type="video/mp4">
        </video>
    </div>
    <h2>Les recettes du moment</h2>
    <div class="d-flex">
        <div class="home_recipe d-flex">
            <ul class="list_recipe row list-unstyled justify-content-around">
                {% for recipe in recipes|slice(0, 5) %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem; margin: 10px;">
                            <a href="{{ path('app_recipe_show', {id: recipe.id}) }}">
                                <img class="card-img-top" src="{{ asset('img/recipe-default.png') }}" alt="{{ recipe.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name | u.truncate(50, '...') }}</h5>
                                    <p>{{ recipe.user.firstname }} {{ recipe.user.lastname }}</p>
                                    <span class="mark">{{ recipe.mark.mark }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h2>Les recettes</h2>
    {{ include('recipe/_recipies.html.twig') }}
    </body>
{% endblock %}

