{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <form class="formLogin" method="post">
        <div class="title">
            <h3 class="mb-3 font-weight-normal">Inscription</h3>
        </div>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname, {'label': 'Prénom'}) }}
        {{ form_row(registrationForm.lastname, {'label': 'Nom'}) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <div class="login">
            <a  href="{{ path('app_register') }}">Vous avez déjà un compte chez nous ? Connectez-vous !</a>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
