{% block body %}
<div class="container">
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem; margin: 10px;">
                    <a href="{{ path('app_recipe_show', {id: recipe.id}) }}">
                        <img class="card-img-top" src="{{ asset('img/recipe-default.png') }}" alt="{{ recipe.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name | u.truncate(50, '...') }}</h5>
                            <p>{{ recipe.user.firstname }} {{ recipe.user.lastname }}</p>
                            <span class="mark">{{ recipe.mark.mark }}</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}