{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block stylesheets %}
    <style>
        .formRecipe {
            display:flex;
            align-items: center;
            flex-direction: column;
        }
        .formRecipeTitle{
        text-align: center;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    </style>
{% endblock %}

{% block body %}

    <h1 class="formRecipeTitle">Création de recette</h1>

    {{ form_start(form) }}
    <div class="formRecipe">
    {{ form_row(form.name) }}
    {{ form_row(form.recipeCategory) }}
    {{ form_row(form.difficulty) }}

    {{ form_row(form.nbPeople) }}
    {{ form_row(form.day) }}
    {{ form_row(form.hour) }}
    {{ form_row(form.minute) }}
    <div id="constitutes" data-prototype="{{ form_row(form.
    constitutes.vars.prototype)|e('html_attr') }}">
    {{ form_row(form.constitutes) }}
    <span></span>
    </div>
    <div id="steps" data-prototype="{{ form_row(form.
    steps.vars.prototype)|e('html_attr') }}">
        {{ form_row(form.steps) }}
        <span id="stepspan"></span>
    </div>
    {{ form_row(form.tools) }}
    {{ form_row(form.picture) }}
    {{ form_row(form.description) }}

    {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        let collection, addButtonIngredient, span;
        let stepCollection, addButtonStep, stepSpan;

        window.onload = () => {
            collection = document.querySelector("#constitutes");
            stepCollection = document.querySelector("#steps");
            span = collection.querySelector("span");
            stepSpan = stepCollection.querySelector("#stepspan");
            addButtonIngredient = document.createElement("button");
            addButtonStep = document.createElement("button");

            addButtonIngredient.className = "ajout-ingredient btn btn-primary";
            addButtonIngredient.innerText = "Ajouter un Ingrédient";

            addButtonStep.className = "ajout-étape btn btn-primary";
            addButtonStep.innerText = "Ajouter une étape";

            let newButton = span.append(addButtonIngredient);

            let newButtonStep = stepSpan.append(addButtonStep);

            collection.dataset.index = collection.querySelectorAll("input").length;
            addButtonIngredient.addEventListener("click", function(){
                addButton(collection, newButton);

            })
            stepCollection.dataset.index = stepCollection.querySelectorAll("input").length;
            addButtonStep.addEventListener("click", function(){
                addStepButton(stepCollection, newButtonStep);

            })
        }
        function addButton(collection, newButton){
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;

            prototype = prototype.replace(/__name__/g, index);

            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");

            let deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger";
            deleteButton.id = "delete-ingredient-"+index;
            deleteButton.innerText = "supprimer cet ingredient";



            newForm.append(deleteButton);

            collection.dataset.index++;

            let addButtonIngredient = collection.querySelector(".ajout-ingredient");

            span.insertBefore(newForm, addButtonIngredient);

            deleteButton.addEventListener("click", function(){
                this.previousElementSibling.parentElement.remove();
            })
        }
        function addStepButton(collection, newButton){
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;

            prototype = prototype.replace(/__name__/g, index);

            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");

            let deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger";
            deleteButton.id = "delete-step-"+index;
            deleteButton.innerText = "supprimer cette étape";



            newForm.append(deleteButton);

            collection.dataset.index++;

            let addButtonIngredient = collection.querySelector(".ajout-ingredient");

            span.insertBefore(newForm, addButtonIngredient);

            deleteButton.addEventListener("click", function(){
                this.previousElementSibling.parentElement.remove();
            })
        }
    </script>
{% endblock %}
