{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .fit{
            white-space: nowrap;
            margin: 10px;
            padding: 5px;
        }
        .image-container {
            position: relative;
        }

        .image-container img {
            width: 100%;
            height: auto;
        }

        .image-container:before {
            display: block;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="text-align: center;">{{ recipe.name }}</h1>
    <div class="d-flex justify-content-between" style="margin: 30px;">
        <p class="fit">Note : {{ recipe.mark.mark ?? '0.0' }}/5</p>
        <p class="fit">Auteur : <a href="{{ path('app_user_show_recipe', {'id': recipe.user.id}) }}">{{ recipe.user.firstname }} {{ recipe.user.lastname }}</a></p>
    </div>
    <div style="text-align: center; margin: 30px;" class="d-flex flex-row">
        <div class="image-container" style="margin: 10px">
            <img src="{{ asset('img/recipe-default.png') }}" alt="image de la recette" height="500px" style="max-width: 1000px; margin-bottom: 5px">
            <div style="margin: 10px">
                <h4>Étapes à suivre :</h4>
                <ol style="text-align: left">
                    {% for step in recipe.steps %}
                        <li style="">{{ step.name }}</li>
                        <p style="text-indent: 40px; opacity: 0.7">{{ step.description }}</p>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div style="margin: 10px">
            <div>
                <h4 style="text-align: left">Informations sur la recette :</h4>
                <div class="d-flex fit">
                    <p class="card fit"><a href="{{ path('app_recipe_category_show', {'id': recipe.recipeCategory.id}) }}">Catégorie : {{ recipe.recipeCategory.name }}</a></p>
                    <p class="card fit">Difficulté : {{ recipe.difficulty }}</p>
                    <p class="card fit">{{ recipe.day == 0 ? recipe.hour == 0 ? "#{recipe.minute} minute(s)" : "#{recipe.hour} heure(s) et  #{recipe.minute} minute(s)" : "#{recipe.day} jour(s), #{recipe.hour} heure(s) et  #{recipe.minute} minute(s)" }}</p>

                </div>
            </div>
            <div class="descriptionRecipe">
                <h4 style="text-align: left">Description :</h4>
                <p style="text-align: left; text-indent: 40px; max-width: fit-content;">{{ recipe.description == '' ? 'Aucune description' : recipe.description }}</p>
            </div>
            <div class="Ustensiles">
                <h4 style="text-align: left">Ustensiles utilisés :</h4>
                <div class="container d-flex flex-wrap">
                    {% if recipe.tools is empty %}
                        <p style="text-align: left; text-indent: 40px">Aucun outil utilisé</p>
                    {% endif %}
                    {% for tool in recipe.tools %}
                        <div class="col-md-4" style="min-width: fit-content; max-width: fit-content">
                            <div class="card d-flex flex-row justify-content-left" style="margin: 5px; align-items: flex-end; padding: 5px;">
                                <img class="card-img-top" src="{{ asset('img/tool_icon.png') }}" alt="{{ recipe.name }}" style="height: 40px; width: 40px; margin: 5px;">
                                <p>{{ tool.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h4 style="text-align: left">Ingrédients :</h4>
                <div class="container d-flex flex-wrap">
                    {% for constitute in recipe.constitutes %}
                        <div class="col-md-4" style="min-width: fit-content; max-width: fit-content">
                            <div class="card d-flex flex-row justify-content-left align-items-center" style="margin: 10px; align-items: flex-end; padding: 5px;">
                                <span class="material-symbols-outlined " style="height: 40px; width: 40px; margin: 5px">grocery</span>
                                <p>{{ constitute.ingredient.name }} {{ constitute.quantity }} {{ constitute.measure }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ recipe.name }}{% endblock %}

