{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} | Profile{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.firstname, {'label': 'Prénom'}) }}
    {{ form_row(form.lastname, {'label': 'Nom'}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.biography, {'label': 'Biographie'}) }}
    {{ form_row(form.allergens) }}

    <button type="submit" class="btn btn-primary">Mettre à jour mon profil</button>

    {{ form_end(form) }}

{% endblock %}
