{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} | Profile{% endblock %}

{% block body %}

    <div class="container-lg">
        <h1>Mon profil</h1>
        {{ form_start(form) }}

        {{ form_row(form.firstname, {'label': 'Prénom'}) }}
        {{ form_row(form.lastname, {'label': 'Nom'}) }}
        {{ form_row(form.email) }}
        {{ form_row(form.biography, {'label': 'Biographie'}) }}
        {{ form_row(form.allergens, {'label': 'Allergies'}) }}

        <button type="submit" class="btn btn-primary w-100">Mettre à jour mon profil</button>

        {{ form_end(form) }}
    </div>

{% endblock %}
